@import 'tailwindcss';

@theme {
	--color-primary: #ffffff;
	--color-background: #0a0a0a;
	--color-text: #fff;
}

@layer base {
	body {
		@apply bg-background text-text;
	}
}

@layer utilities {
	.flex-center {
		@apply flex 
		justify-center 
		items-center;
	}
}

@layer components {
	.btn-player {
		@apply flex
		items-center
		justify-center
		w-[40px]
		h-[40px]
		rounded-full
		shadow-xl
		text-text
		hover:text-primary
		active:text-primary;
	}
	.input-range {
		@apply accent-primary
		hover:accent-white;
	}
}
