@import 'tailwindcss';

@theme {
	--color-primary: #38bdf8;
	--color-background: #bad5ff;
	--color-text: #222222;
}

@layer base {
	body {
		@apply bg-background;
	}
}

@layer utilities {
	.flex-center {
		@apply flex 
		justify-center 
		items-center;
	}
}

@layer components {
	.btn-player {
		@apply flex
		items-center
		justify-center
		w-[40px]
		h-[40px]
		rounded-full
		shadow-xl
		text-text
		hover:text-primary
		active:text-primary;
	}
	.in-range-player {
		@apply accent-primary
		hover:accent-white;
	}
}
